<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning API</title>
</head>
<body>
    <div class="login">
        <h1>Breast Cancer Prediction</h1>
        <!-- Main Inputs to receive Query to the model -->
         <form action="{{url_for('predict')}}" method="post">
            <input type="text" name="mean radius" placeholder="mean radius", required="required"><br>
            <input type="text" name="mean texture" placeholder="mean texture" required="required"><br>
            <input type="text" name="mean perimeter" placeholder="mean area" required="required"><br>
            <input type="text" name="mean area" placeholder="mean area" required="required"><br>
            <input type="text" name="mean smoothness" placeholder="mean smoothness" required="required"><br>
            <input type="text" name="mean compactness" placeholder="mean compactness" required="required"><br>
            <input type="text" name="mean concavity" placeholder="mean concavity" required="required"><br>
            <input type="text" name="mean concave points" placeholder="mean concave points" required="required"><br>
            <input type="text" name="mean symmetry" placeholder="mean symmetry" required="'required"><br>
            <input type="text" name="mean fractal dimension" placeholder="mean fractal dimension" required="required"><br>
            <input type="text" name="radius error" placeholder="radius error" required="required"><br>
            <input type="text" name="texture error" placeholder="texture error" required="required"><br>
            <input type="text" name="perimeter error" placeholder="perimeter error" required="required"><br>
            <input type="text" name="area error" placeholder="area error" required="required"><br>
            <input type="text" name="smoothness error" placeholder="smoothness error" required="required"><br>
            <input type="text" name="compactness error" placeholder="compactness error" required="required"><br>
            <input type="text" name="concavity error" placeholder="concavity error" required="required"><br>
            <input type="text" name="concave points error" placeholder="concave points error" required="required"><br>
            <input type="text" name="symmetry error" placeholder="symmetry error" required="required"><br>
            <input type="text" name="fractal dimension error" placeholder="fractal dimension error" required="required"><br>
            <input type="text" name="worst radius" placeholder="worst radius" required="required"><br>
            <input type="text" name="worst texture" placeholder="worst texture" required="required"><br>
            <input type="text" name="worst perimeter" placeholder="worst perimeter" required="required"><br>
            <input type="text" name="worst area" placeholder="worst area" required="required"><br>
            <input type="text" name="worst smoothness" placeholder="worst smoothness" required="required"><br>
            <input type="text" name="worst compactness" placeholder="worst compactness" required="required"><br>
            <input type="text" name="worst concavity" placeholder="worst concavity" required="required"><br>
            <input type="text" name="worst concave points" placeholder="worst concave points" required="required"><br>
            <input type="text" name="worst symmetry" placeholder="worst symmetry" required="required"><br>
            <input type="text" name="worst fractal dimension" placeholder="worst fractal dimension" required="required"><br>
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
         </form>
    </div>
    {{prediction_text}}
</body>
</html>

<!-- 

{
    "data": {
        "mean radius": 77.00,
        "mean texture": 87.99,
        "mean perimeter": 45.77,
        "mean area": 77.99,
        "mean smoothness": 99.87,
        "mean compactness": 44.78,
        "mean concavity": 99.00,
        "mean concave points": 55.87,
        "mean symmetry": 99.76,
        "mean fractal dimension": 44.98,
        "radius error": 89.66,
        "texture error": 66.77,
        "perimeter error": 34.88,
        "area error": 66.99,
        "smoothness error": 98.80,
        "compactness error": 56.78,
        "concavity error": 12.34,
        "concave points error": 76.00,
        "symmetry error": 67.99,
        "fractal dimension error": 44.09,
        "worst radius": 88.78,
        "worst texture": 45.90,
        "worst perimeter": 77.90,
        "worst area": 90.56,
        "worst smoothness": 90.78,
        "worst compactness": 13.90,
        "worst concavity": 26.12,
        "worst concave points": 90.89,
        "worst symmetry": 78.09,
        "worst fractal dimension": 56.90 
    }
}

-->